@model Attendance

@{
    ViewData["Title"] = "Check In";
}

<h1>Check In</h1>

<h4>Attendance</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CheckIn">
            <div class="form-group">
                <label asp-for="EmployeeId" class="control-label"></label>
                <select asp-for="EmployeeId" class="form-control" asp-items="ViewBag.EmployeeId"></select>
                <span asp-validation-for="EmployeeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" type="date" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckInTime" class="control-label"></label>
                <input asp-for="CheckInTime" class="form-control" type="time" />
                <span asp-validation-for="CheckInTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CheckOutTime" class="control-label"></label>
                <input asp-for="CheckOutTime" class="form-control" type="time" />
                <span asp-validation-for="CheckOutTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Check In" class="btn btn-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


